body {
  margin:0;
  background:#0b1e3a;
  text-align:center;
  color:white;
}

#game {
  max-width:420px;
  margin:auto;
}

canvas {
  width:100%;
  background:black;
}

.controls {
  display:grid;
  grid-template-columns:repeat(4,1fr);
}

button {
  padding:12px;
  font-size:14px;
}